@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
<button id="showForm">弹出</button>

<script>
    $('#showForm').click(function () {
        dialogOpen({
            id: 'form',
            title: '二级弹框',
            width: 700,
            height: 700,
            url: rootUrl + 'Test/Form2',
        });
    });
</script>