<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net40" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40" />
  <package id="Npgsql" version="2.2.7" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="StackExchange.Redis" version="1.2.1" targetFramework="net40" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net40" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net40" />
</packages>